/* Header */
.navbar-brand{
	max-width: 120px;
}
.navbar-dark .navbar-nav .nav-link{
	color: #fff !important;
	font-size: 12px;
}

@media(max-width: 1200px){
	.navbar-nav{
		padding-top: 30px;
	}
	.navbar-dark .navbar-nav .nav-link{
		font-size: 16px !important;
	}
}