.head .dropdown-menu{
	left: auto;
	right: 0%;
	width: 200px;
}

.box{
	border-left: 2px solid #024D7B;
}
.box li a:hover,
.box li.Ml:hover,
.box li.Ml:hover a{
	background: #024D7B;
	color: #fff;
	text-decoration: none;
}
.head .dropdown-menu a:hover{
	background: #0062cc;
	color: #fff;
}