.toprow i.fa-search{
	top: 13px;
	left: 8px;
	font-size: 13px;
}
.toprow .dropdown-menu a:hover{
	background: #0062cc;
	color: #fff;
}


.table{
	overflow-x: auto;
}
.table thead th{
	border-bottom: 2px solid #A81933 ; 	
}

.pagination li a{
	padding: 0 5px;
}
.pagination ul li a:hover{
	background: #545454;
	color: #fff;
	border-radius: 2px;
	text-decoration: none !important;
}