@media(min-width: 1200px){
	.modal7 .modal-dialog{
		min-width: 1200px;
		max-width: auto;
	}
}

.modal9 .modal-dialog{
	max-width: 1200px;
	width: 100%;
	/* max-width: auto; */
	margin: auto !important;
}
@media(max-width: 575px){
	.modal7 .CNB{
		width: 100%;
		margin-bottom: 10px;
	}
}